<connectionStrings>
  <add name="DefaultConnection"
       connectionString="data source=YOUR_VALUE;
         initial catalog=YOUR_VALUE;
         Persist Security Info=True;
         User ID=YOUR_VALUE;
         Password=YOUR_VALUE"
       providerName="System.Data.SqlClient"/>

  <add name="AcdfEntities"
        connectionString="metadata=res://*/Models.ModelAcdf.csdl|res://*/Models.ModelAcdf.ssdl|res://*/Models.ModelAcdf.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
        data source=YOUR_VALUE;
        initial catalog=YOUR_VALUE;
        persist security info=True;
        user id=YOUR_VALUE;
        password=YOUR_VALUE;
        MultipleActiveResultSets=True;
        App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
</connectionStrings>
