<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d’informations sur l’utilisation de la transformation Web.config, rendez-vous sur http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!--
    Copy App_Settings\Distrib-connectionStrings-Debug.config to App_Settings\connectionStrings-Release.config.
    Fill connectionStrings-Release.config with YOUR-VALUES
  -->
  <connectionStrings configSource="App_Settings\connectionStrings-Release.config" xdt:Transform="Replace" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/MyError/UnHandledException" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/MyError/NotFound" />
      <error statusCode="403" redirect="~/MyError/AccessDenied" />
    </customErrors>
  </system.web>
  
  <!--
    Copy App_Settings\Distrib-appSettings.config to App_Settings\appSettings-Release.config.
    Fill appSettings-Release.config with YOUR-VALUES
  -->
  <appSettings configSource="App_Settings\appSettings-Release.config" xdt:Transform="Replace" />
  <!--
    Copy App_Settings\Distrib-MailSettings.config to App_Settings\MailSettings-Common.config.
    Fill appSettings-Release.config with YOUR-VALUES
  -->
  <system.net>
    <mailSettings>
      <smtp configSource="App_Settings\MailSettings-Common.config"/>
    </mailSettings>
  </system.net>

</configuration>