<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Utilisation</h4>
    </div>

    <div class="panel-body">
        <p>Quelques infos. sur l'utilisation</p>
        <div class="panel-group" id="accordionAnec">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" title="Utlisation" href="#collapseUtilisation">
                            Lire
                        </a>
                    </h4>
                </div>
                <div id="collapseUtilisation" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Support</h4>
                        <p>
                            <a href="mailto:foucauld.casa@live.fr">foucauld.casa@live.fr</a> <i class="fa fa-envelope-o"></i>.
                        </p>

                        <h4>Inscription</h4>
                        <p>
                            Pour vous inscrire sur le site, cliquer sur le petit bonhomme <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> en haut à droite de la page, et sélectionner <em>Inscription</em>.
                        </p>
                        <p>
                            Compléter le formulaire. Vous recevrez un mail de confirmation. Cliquer sur le lien contenu dans ce mail qui activera votre compte. Vous verrez votre nom d'utilisateur s'afficher alors près du petit bonhomme
                            <i class="fa fa-user fa-fw"></i> <em>votre pseudo</em> <i class="fa fa-caret-down"></i>.
                        </p>
                        <p>
                            Vous avez uniquement à fournir un nom d'utilisateur (sans espace), une adresse mail VALIDE et un mot de passe.
                        </p>
                        <p>
                            Les informations complémentaires (nom, prénom, date de naissance etc...) font maintenant partie de votre profil utilisateur. A chaque connexion vous serez redirigé vers la page "Edition du profil" afin de la compléter ou de la modifier.
                        </p>
                        <p>
                            Vous avez aussi la possibilité de vous authentifier via votre compte:
                            <ul>
                                <li>Facebook</li>
                                <li>Tweeter</li>
                                <li>Google</li>
                                <li>Microsoft</li>
                                <li>Github</li>
                            </ul>
                            <img id="externalImg" class="img-rounded img-responsive" src="~/Content/images/external.PNG" />
                        <p>
                            <em>
                                Cliquer sur le logo correspondant.
                            </em>
                        </p>
                        </p>
                        <h4>Gérer votre compte</h4>
                        <p>
                            La page "Gérer votre compte" vous permet de :
                            <ul>
                                <li>Changer votre profil</li>
                                <li>Changer votre photo</li>
                                <li>Changer votre mot de passe</li>
                                <li>Supprimer votre compte</li>
                            </ul>
                        </p>
                        <img id="manageImg" class="img-rounded img-responsive" src="~/Content/images/Manage.PNG" />
                        <p>
                            <em>
                                Cliquer en haut à droite sur votre pseudo puis sur "Votre profil".
                            </em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @*<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>*@
    </div>
</div>
